<div>
  <header-component></header-component>
  <app-child1></app-child1>
  <h1>Welcome to Angular 8 </h1>
Id is {{empId}}<br/>
Name is {{name}}<br/>
Salary is {{salary}}<br/>

Name is <input type="text" [value]="name"/><br/>

Using P Tag<div [innerText]="name"></div>
{{displayEmployeeInfo()}}

<br/>
Employee details are<br/>
Id is {{empRef.empId}}<br/>
Name is {{empRef.name}}<br/>
Salary is {{empRef.salary}}<br/>
<table border=1>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
  </tr>
<tr *ngFor="let emp of empInfo">
    <td>{{emp.empId}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.salary}}</td>
</tr>
</table>
<footer-component></footer-component>

<input type="button" value="click here" (click)="fun()"/>

<h2>Two way binding with ngModel</h2>
Desg is {{desg}}<br/>

<input type="text" [(ngModel)]="desg"/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<h2>Two way binding without ngModel</h2>

<input type="text" #username (keyup)="0">
Name is {{username.value}}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
